@model ConfigurationModel
@{
    Layout = "_ConfigurePlugin";
}

<form asp-controller="PaymentIyzipay" asp-action="Configure" method="post">
    <div class="cards-group">
        <div class="card card-default">
            <div class="card-header">
                @T("Plugins.Payments.Iyzipay.Fields.ApiSettings")
            </div>
            <div class="card-body">
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="ApiKey" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="ApiKey" />
                        <span asp-validation-for="ApiKey"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="SecretKey" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="SecretKey" />
                        <span asp-validation-for="SecretKey"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="EnvironmentId" />
                    </div>
                    <div class="col-md-9">
                        <nop-select asp-for="EnvironmentId" asp-items="Model.EnvironmentValues" />
                        <span asp-validation-for="EnvironmentId"></span>
                        <input type="hidden" asp-for="BaseUrl" />
                    </div>
                </div>
            </div>
        </div>

        <div class="card card-default">
            <div class="card-header">
                @T("Plugins.Payments.Iyzipay.Fields.WebhookSettings")
            </div>
            <div class="card-body">
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="WebhookUrl" />
                    </div>
                    <div class="col-md-9">
                        <div class="input-group">
                            <nop-editor asp-for="WebhookUrl" asp-disabled="true" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" onclick="copyToClipboard('@Model.WebhookUrl')">
                                    <i class="fa fa-copy"></i> @T("Admin.Common.Copy")
                                </button>
                            </span>
                        </div>
                        <span asp-validation-for="WebhookUrl"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="card card-default">
            <div class="card-header">
                @T("Plugins.Payments.Iyzipay.Fields.PaymentSettings")
            </div>
            <div class="card-body">
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="OrderStatusAfterPayment" />
                    </div>
                    <div class="col-md-9">
                        <nop-select asp-for="OrderStatusAfterPayment" asp-items="Model.OrderStatusValues" />
                        <span asp-validation-for="OrderStatusAfterPayment"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="PaymentFormLanguage" />
                    </div>
                    <div class="col-md-9">
                        <nop-select asp-for="PaymentFormLanguage" asp-items="Model.PaymentFormLanguageValues" />
                        <span asp-validation-for="PaymentFormLanguage"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="PaymentFormMode" />
                    </div>
                    <div class="col-md-9">
                        <nop-select asp-for="PaymentFormMode" asp-items="Model.PaymentFormModeValues" />
                        <span asp-validation-for="PaymentFormMode"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="card card-default">
            <div class="card-header">
                @T("Plugins.Payments.Iyzipay.Fields.AdvancedSettings")
            </div>
            <div class="card-body">
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="EnableProtectedShopView" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="EnableProtectedShopView" />
                        <span asp-validation-for="EnableProtectedShopView"></span>
                    </div>
                </div>
                <div class="form-group row" id="protected-shop-view-position" style="display: none;">
                    <div class="col-md-3">
                        <nop-label asp-for="ProtectedShopViewPosition" />
                    </div>
                    <div class="col-md-9">
                        <nop-select asp-for="ProtectedShopViewPosition" asp-items="Model.ProtectedShopViewPositionValues" />
                        <span asp-validation-for="ProtectedShopViewPosition"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="PaymentOptionTitle" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="PaymentOptionTitle" />
                        <span asp-validation-for="PaymentOptionTitle"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="Enable3DSecure" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Enable3DSecure" />
                        <span asp-validation-for="Enable3DSecure"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="EnableInstallmentOptions" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="EnableInstallmentOptions" />
                        <span asp-validation-for="EnableInstallmentOptions"></span>
                    </div>
                </div>
                <div class="form-group row" id="max-installment-count" style="display: none;">
                    <div class="col-md-3">
                        <nop-label asp-for="MaxInstallmentCount" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="MaxInstallmentCount" />
                        <span asp-validation-for="MaxInstallmentCount"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="card card-default">
            <div class="card-header">
                @T("Plugins.Payments.Iyzipay.Fields.AdditionalSettings")
            </div>
            <div class="card-body">
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="PassProductNamesAndTotals" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="PassProductNamesAndTotals" />
                        <span asp-validation-for="PassProductNamesAndTotals"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="SendInvoiceInfo" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="SendInvoiceInfo" />
                        <span asp-validation-for="SendInvoiceInfo"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="card card-default">
            <div class="card-header">
                @T("Plugins.Payments.Iyzipay.Fields.AdditionalFee")
            </div>
            <div class="card-body">
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="AdditionalFee" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="AdditionalFee" />
                        <span asp-validation-for="AdditionalFee"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="AdditionalFeePercentage" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="AdditionalFeePercentage" />
                        <span asp-validation-for="AdditionalFeePercentage"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="card card-default">
            <div class="card-body">
                <div class="form-group row">
                    <div class="col-md-9 offset-md-3">
                        <button type="submit" name="save" class="btn btn-primary">@T("Admin.Common.Save")</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    $(document).ready(function () {
        $('#@Html.IdFor(model => model.EnableProtectedShopView)').change(function () {
            if ($(this).is(':checked')) {
                $('#protected-shop-view-position').show();
            } else {
                $('#protected-shop-view-position').hide();
            }
        }).trigger('change');

        $('#@Html.IdFor(model => model.EnableInstallmentOptions)').change(function () {
            if ($(this).is(':checked')) {
                $('#max-installment-count').show();
            } else {
                $('#max-installment-count').hide();
            }
        }).trigger('change');

        $('#@Html.IdFor(model => model.EnvironmentId)').change(function () {
            var selectedValue = $(this).val();
            var baseUrl = selectedValue == '0' ? 'https://sandbox-api.iyzipay.com' : 'https://api.iyzipay.com';
        });
    });

    function copyToClipboard(text) {
        navigator.clipboard.writeText(text).then(function() {
            alert('@T("Admin.Common.Copied")');
        });
    }
</script>